// Your custom style
$brand-red: #ba372d;
$f-dharma: 'Dharma';
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $f-dharma;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

h5,
h4 {
    font-size: 2rem;
}

body {
    @media (max-width: 1024px) {
        background-color: $black;
    }
}

html {
    font-size: 62.5%;
}

.social {
    a {
        font-size: 1.6rem;
    }
}

#slide-out,
.navbar {
    background: $black;
    @media (max-width: 1024px) {
        i, a, span {
            font-size: 2rem;
        }
    }
    &.no-admin {
        background: #fff;

        .search-form {
            .form-control, input::placeholder {
                color: map-get($grey, darken-2) !important;
            }
        }
        a {
            color: $brand-red;
            span {
                font-family: $f-dharma;
                letter-spacing: 1.5px;
                font-size: 1.6rem;
                display: inline-block !important;
                @media (max-width: 1024px) {
                    font-size: 2rem;
                }
            }
            @media (min-width: 1025px) {
                color: $brand-red;
            }
        }
        .breadcrumb-dn {
            margin: 0 auto;
            h2 {
                margin-bottom: 0;
                color: $brand-red;
                text-align: center;
            }
        }
        .admin {
            display: none;
        }
    }
    .breadcrumb-dn {
        h2 {
            margin-bottom: 0;
            @media (max-width: 1024px) {
                font-size: 2rem;
            }
        }
    }
    .logo-wrapper {
        height: 9rem;
    }
}

.page-item.active .page-link {
    background: $brand-red;
    border-color: $brand-red;
}

.pagination {
    .btn,
    .btn-default {
        background: $brand-red;
        &:active {
            background: $brand-red;
        }
    }
    .page-link {
        font-size: 1.3rem;
    }
}

.page-link {
    color: $white;
    @media(min-width: 1025px) {
        color: $black;
    }
}

.view-more {
    font-size: 1.2rem;
    color: $brand-red;
}

.navbar {
    box-shadow: none;
}

.double-nav .breadcrumb-dn {
    @media (max-width: 768px) {
        margin-right: 0 !important;
    }
    @media (max-width: 993px) {
        display: inline-block;
    }
}

@media (min-width: 1441px) {
    .navbar {
        display: none;
    }
    #slide-out {}
}

.navbar-nav {
    a {
        font-size: 1.2rem;
    }
}

.social {
    .icons-sm {
        font-size: 2rem;
        .fa {
            color: $brand-red;
        }
    }
}

.btn-primary {
    background: $black;
}

.side-nav {
    .collapsible {
        a {
            font-size: 1.3rem;
        }
    }
}

#advertisement-head {
    padding: 4rem 0;
    color: map-get($grey, lighten-1);
    ;
}

#top-4 {
    @media (max-width: 767px) {
        border: none !important;
    }
    &>h5 {
        font-size: 3rem;
    }
    h5 {
        color: $brand-red;
        @media (max-width: 1024px) {
            color: $white;
        }
    }
    ul {
        @media(max-width: 991px) {
            margin-top: 1.5rem;
            padding: 0;
        }
        @media(max-width: 599px) {
            margin-top: 1.5rem;
            padding: 1.5rem;
        }
    }
    .media {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        &:first-child {
            margin-top: 0;
        }
        img {
            width: 7.5rem;
            @media(max-width: 599px) {
                width: 9.4rem;
            }
        }
        .media-body {
            font-size: 1.2rem;
            @media (max-width: 1024px) {
                color: $white;
            }
            h5 {
                a {
                    color: $brand-red;
                }
                @media(max-width: 599px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .view {
        max-height: 36.2rem;
    }
}

#fifth-hero {
    .fifth-hero-title {
        padding-top: 15%;
        @media (max-width: 600px) {
            p {
                display: none;
            }
        }
    }
}

main {
    h4 {
        @media (max-width: 1024px) {
            color: $white;
            margin-top: 2.5rem;
        }
    }
}

#main {
    h4 {
        strong {
            color: $brand-red;
            @media (max-width: 1024px) {
                color: $white;
                visibility: visible;
            }
        }
    }
    hr {
        visibility: visible;
    }
    .category-section {
        h3 {
            font-size: 1.8rem;
        }
        .card-text {
            font-size: 1.2rem;
        }
        .card-data {
            li {
                font-size: 1.1rem;
            }
        }
    }
    .single-post {
        &:last-of-type {
            margin-bottom: 3rem;
        }
        .card-title {
            a {
                color: $brand-red;
                font-size: 2rem;
            }
        }
        p {
            font-size: 1.2rem;
            @media (max-width: 1024px) {
                color: $white;
            }
        }
    }
    .card {
        margin-bottom: 1.5rem;
        @media(min-width: 769px) {
            // max-width: 48%;
            // &:nth-child(even) {
            //     margin-left: 3%;
            // }
        }
        .btn-action,
        .card-data {
            background-color: $brand-red;
        }
    }
    &.post-section {
        padding: 0;
        .personal-sm {
            a {
                font-size: 1.6rem;
            }
        }
        .card {
            box-shadow: none;
            @media(min-width: 769px) {
                max-width: 100%;
            }
            @media (max-width: 768px) {
                background: none;
                box-shadow: none;
            }
        }
        h4 {
            strong {
                color: $brand-red;
                visibility: visible;
            }
        }
        strong {
            @media (max-width: 1024px) {
                color: $white;
            }
        }
        .card-body {
            box-shadow: none;
        }
        .post-title {
            color: $brand-red;
            font-size: 2.5rem;
        }
        time {
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            display: block;
            color: map-get($grey, lighten-1);
        }
        p {
            font-size: 1.5rem;
            color: #4f4f4f;
            @media (max-width: 768px) {
                color: #eee !important;
            }
        }
        h5 {
            font-size: 2.2rem;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }
        blockquote {
            margin-right: 3rem;
            margin-left: 3rem;
            margin-bottom: 1rem;
            font-size: 1.25rem;
            padding: .5rem 1rem;
            border-left: .25rem solid #eceeef;
            @media (max-width: 767px) {
                margin-left: 0.25rem;
                margin-right: 0.25rem;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}

#categories-sidebar-section {
    a {
        font-size: 1.2rem;
        color: $black;
        font-weight: bold;
    }
}

.invisible-row {
    @media (max-width: 767px) {
        margin: 0;
    }
}

#disclaimer-sidebar-section,
#newsletter-sidebar-section,
#you-might-like-sidebar-section {
    p,
    label,
    button {
        font-size: 1.4rem;
    }
    @media (max-width: 768px) {
        color: #eee;
        .card {
            box-shadow: none;
            background: none;
        }
    }
    time {
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        display: block;
        color: map-get($grey, lighten-1);
    }
}

#sidebar {
    @media(max-width: 600px) {
        padding: 0;
    }
    h4 {
        strong {
            color: $brand-red;
        }
    }
    h5 {
        strong {
            color: $brand-red;
        }
    }
    #you-might-like-sidebar-section {
        .card-body {
            strong {
                font-size: 1.4rem;
            }
        }
    }
}

footer {
    background: $brand-red;
    p,
    a {
        font-size: 1.2rem;
    }
    h6 {
        font-size: 1.6rem;
    }
}

.container-fluid {
    &.row {
        margin-left: 0;
        margin-right: 0;
    }
}

.double-nav {
    a {
        span {
            display: none;
        }
    }
}